html,body {
  font-family: 'Inter', sans-serif !important;
}

body {
  margin: 0;
  display: flex;
  background-color: #eef1ec;
  justify-content: center;
}

#app{
  width: 100%;
}

p{
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.dark-mode {
  background-color: #2a2a2a;
}

.dark-mode p{
  color: white;
}

.dark-mode span p {
  color: white;
}

.dark-mode .group-sliders{
  background-color: #3b3b3b;
}

.dark-mode .kiwave-dark{
  display: block !important;
  width: 110px ;
  height: auto;
  padding-top: 10px;
  padding-left: 15px;
}

.dark-mode .kiwave-light{
 display: none;
}

.dark-mode #canvas {
  filter: drop-shadow(0px 0px 20px #1a1919) !important;
}

.dark-mode .tooltip::after {
  background-color: #4b4b4b !important;
  color: white !important;

.dark-mode .selected{
 background-color: #3b3b3b !important;
}



