html,body {
  font-family: 'Inter', sans-serif !important;
}

body {
  margin: 0;
  display: flex;
  background-color: #eef1ec;
  justify-content: center;
}

#app{
  width: 100%;
}

p{
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.dark-mode {
  background-color: #2a2a2a;
}

.dark-mode p{
  color: white;
}

.dark-mode span p {
  color: white;
}



